# Ignore vendor CSS for the folder
Udemy/Projects/BlogSite/static/css/styles.css linguist-vendored
Udemy/Projects/EchoPen/static/css/styles.css linguist-vendored

# Ignore .ipynb Jupyter Notebooks from linguist stats for the folder
Udemy/Projects/GraphPlt/** linguist-detectable=false
Udemy/Projects/NanoPix/** linguist-detectable=false
Udemy/Projects/NobelPrize/** linguist-detectable=false
Udemy/Projects/StorePlt/** linguist-detectable=false
Udemy/Projects/VisTrend/** linguist-detectable=false
Udemy/Projects/XenoFigs/** linguist-detectable=false
Udemy/Projects/YoloPay/** linguist-detectable=false
Udemy/Projects/YuLego/** linguist-detectable=false
Udemy/Projects/ZeroInit/** linguist-detectable=false