# Ignore vendor CSS for the BlogSite folder
Udemy/Projects/BlogSite/static/css/styles.css linguist-vendored

# Ignore vendor CSS for the EchoPen folder
Udemy/Projects/EchoPen/static/css/styles.css linguist-vendored

#Ignore inline JS for the Jupyter Notebooks
Udemy/Projects/StorePlt/main.ipynb linguist-vendored
Udemy/Projects/NobelPrize/main.ipynb linguist-vendored