/* Day 44 - 100 Days of Code */

/* 

Pixel - 1px = 1/96th inch = 0.26 mm ; Static Size
Point - 1pt = 1/72nd inch = 0.35 mm ; Static Size
Letter 'M' width - 1em = 100% of parent ; Relative Size 
1rem = 100% of root ; Relative Size (<html>) 

*/ 

/* Color Font */
.font-section #pixel {
    font-size: 20px;
}

.font-section #point {
    font-size: 20pt;
}

.font-section #em {
    font-size: 1em;
}

.font-section #rem {
    font-size: 1rem;
}

.font-section footer {
    font-size: 12pt;
}

html {
    font-size: xx-large;
}

/* Font Family */
.font-family-section #Helvetica {
    font-family: Helvetica, sans-serif;
}

.font-family-section #Arial {
    font-family: Arial, sans-serif;
}

.font-family-section #Serif {
    font-family: serif;
}

.font-family-section #Sans-Serif {
    font-family: sans-serif;
}

.font-family-section #Cursive {
    font-family: cursive;
}

.font-family-section #Monospace {
    font-family: monospace;
}

.font-family-section #Fantasy {
    font-family: fantasy;
}

.font-family-section h1 {
    font-family: 'Playwrite NZ', cursive;
}

/* Font Align */
.font-align-section {
    background-color: cornflowerblue;
    color: white;
    font-size: 18px;
}

.font-align-section #color {
    color: coral;
}

.font-align-section #size {
    font-size: 2rem;
}

.font-align-section #weigth {
    font-weight: 900;
}

.font-align-section #family {
    font-family: 'Playwrite NZ', cursive;
}

.font-align-section #align {
    text-align: right;
}

/*

Border:

border: 10px solid black; Thickness Style Color
border: 30px; Height & Width remain same | Border goes outwards
border-top: 0px; Gets rid of the top
border-width: 0px 10px 20px 30px; Top Right Bottom Left (Clockwise)
border-width: 0px 20px; Top/Bottom Left/Right

Padding:

padding: 20px; Pushes border out on all sides | Height & Width remain same

Margin:

margin: 10px; Outside of the border

*/

/* Box Model */
.box-model-section div {
    width: 200px;
    height: 200px;
}

.box-model-section p {
    margin: 0;
    font-size: 16px;
}

.box-model-section #box-one {
    background-color: cadetblue;
    border: 10px solid black;
    padding: 20px;
}

.box-model-section #box-two {
    background-color: gold;
    border: solid black;
    border-width: 20px 10px;
    margin-left: 260px;
}

.box-model-section #box-three {
    background-color: indianred;
    border: 10px solid black;
    margin-left: 40px;
}

/* Meme Post */
.motivational-poster-section {
    background-color: black;
    padding: 50px 0;
}

.motivational-poster-section #box {
    color: white;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.motivational-poster-section .image-meme {
    width: 100%;
    border: 5px solid white;
    box-sizing: border-box;
}

.motivational-poster-section #box h1 {
    font-family: 'Playwrite NZ', cursive;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 25px;
}

.motivational-poster-section #box p {
    font-size: 30px;
    margin-top: 15px;
}

/*

Box Model Flow:

Positioning (Layout) - position, display, z-index, etc.
Box Model (Size) - width, height, padding, margin, border, etc.
Typography (Text) - font-family, font-size, text-align, line-height, etc.
Visuals (Aesthetics) - background-color, color, box-shadow, etc.

Another method to be considered : Alphabetical Flow - background-color, border, color, display, font-size, margin, text-align, width, etc. 

*/