<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit</title>
</head>

<body>
    <main>
        <h1>Edit Rating</h1>
        <form action="{{ url_for('edit') }}" method="POST">
            <p><strong>Book Name:</strong> {{ book.title }}</p>
            <p><strong>Current Rating:</strong> {{ book.rating }}</p>

            <input type="hidden" name="id" value="{{ book.id }}">

            <label for="rating">New Rating:</label>
            <input id="rating" name="rating" type="text" placeholder="New Rating" required>

            <button type="submit">Change Rating</button>
        </form>
    </main>
</body>

</html>